* {
  box-sizing: border-box;
}
  
body {
  background: white;
  color: black;
  font-size: 120%;
  margin: 0;
}

@media(max-width:700px){
  
  .header{
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  height: 60px;
}
}
  .header{
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
}

.logo{
  width: 300px;
  padding-left: 40px;
 }

@media(max-width:700px){
  .logo{
    max-width: 150px;
    padding-top: 5px;
    padding-left: 5px;
  }
}

@media(max-width:700px){
  .slider{
    margin-top: -30px;
  }
}
.slider{
  max-width: 100%;
  padding-top: 100px;
}

@media(max-width:700px){
  .scroll{
    position: absolute;
    max-width: 15px;
    margin-top: -665px;
  }
}

.scroll{
  position: absolute;
  width: 30px;
  top: 880px;
  left: 50%;
  transition: transform 200ms ease-in;
}

.scroll:hover{
  transform: translateY(8px);
}

@media(max-width:700px){
  ul li a{
    display: none;
    
  }
 }


ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  margin-top: -45px;
} 

ul li {
  list-style: none;
 
}

ul li a{ 
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  
  margin: 0 20px;
}



.buttons:hover,
.button-active {
  border-bottom: 5px solid deeppink; 
}

.arrow {
  width: 50px; 
  top: 55%;
  position: fixed;
  z-index: 1;
  
  transition: transform 200ms ease-in;
}

.next{
  right: 30px;
}

.next:hover{
  transform: translateX(10px);
}

.previous{
  left: 30px;
}

.previous:hover{
  transform: translateX(-10px);
}

.backtotop{
  width: 50px;
  position: absolute;
  left: 48.6%;
  
  transition: transform 200ms ease-in;
}

.backtotop:hover{
  transform: translateY(-10px);
}

.page-one{
  
  padding-top: 392%;
}
.page-two{
  padding-top: 275%;
}
.page-three{
  padding-top: 656%;
}
.page-four{
  padding-top:1058%;
}
.page-five{
 padding-top: 298%; 
}
.page-six{
 padding-top: 320%; 
}
.page-seven{
padding-top: 368%;  
}
.page-eight{
 padding-top: 125%; 
}

/* projects */

@media(max-width:700px){
  .content img {
    display: flex;
  display: table-row;
    
  }
}

  .content{
  width: 1000px;
  height: 2000px;
  margin: 0 auto;
  padding-top: 110px;
  }

@media(max-width:700px){
  .balkis{
    max-width: 330px;
  }
}

.balkis{
  width: 600px;
  margin-bottom: 40px;
  margin-left: 20px;
  transition: transform 200ms ease-in;
}

.balkis:hover{
  transform: translateY(-5px);
}

@media(max-width:700px){
  .atm{
    max-width: 150px;
    margin: 0 auto;
    
  }
}
.atm {
  
  width: 230px;
  margin-left: 60px;
  transition: transform 200ms ease-in;
}

.atm:hover{
  transform: translateY(-5px);
}

@media(max-width:700px){
  .tuesdays{
    max-width: 230px;
    
  }
}
.tuesdays{
  width: 360px;
  margin-left: 30px;
  transition: transform 200ms ease-in;
}

.tuesdays:hover{
  transform: translateY(-5px);
}

@media(max-width:700px){
  .kfarhouna{
    max-width: 330px;
    
  }
}
.kfarhouna{
  width:570px;
   margin-left: 30px;
  margin-bottom: 70px;
  transition: transform 200ms ease-in;
}

.kfarhouna:hover{
  transform: translateY(-5px);
}

@media(max-width:700px){
  .architect{
    max-width: 330px;
    
  }
}
.architect {
 width: 500px;
  margin-bottom: 55px;
  margin-left: 20px;
  transition: transform 200ms ease-in; 
}

.architect:hover{
  transform: translateY(-5px);
}

@media(max-width:700px){
  .dg{
    max-width: 150px;
    
  }
}
.dg{
  width: 230px;
  margin-left: 90px;
  margin-top: -20px;
   transition: transform 200ms ease-in;
}

.dg:hover{
  transform: translateY(-5px);
}

@media(max-width:700px){
  .savefood{
    max-width: 150px;
    
  }
}
.savefood {
  width: 250px;
  margin-left: 147px;
  padding-bottom: 100px;
  transition: transform 200ms ease-in;
 
}

.savefood:hover{
  transform: translateY(-5px);
}

@media(max-width:700px){
  .book{
    max-width: 250px;
 }
}

.book{
  width: 390px;
  margin-left: 150px;
  margin-bottom: 20px;
  transition: transform 200ms ease-in;
}

.book:hover{
  transform: translateY(-5px);
}


/* Balkis */

@media(max-width:700px){
  .description{
    max-width: 290px;
    display: flex;
    display: table-row;
  
   }
}
.description{
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  color: #fa6c02;
  font-family: sans-serif;  
}

@media(max-width:700px){
  .title{
    max-width: 200px;
   }
}

.title{
  font-size: 60px;
  font-weight: 700;
}

.date{
  width: 70px;
  height:60px;
  padding-top:20px;
  color: gray;
  border-top: 8px solid #fa6c02 ;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  
}

.place{
  width: 70px;
  height:60px;
  padding-top: 20px;
  border-top: 8px solid #fa6c02 ;
  color: gray;
  font-weight: 600;
  margin-top: 30px;
  font-size: 18px;
  line-height: 22px;
}

@media(max-width:700px){
  .resume{
    max-width: 200px;
    display: flex;
    
    
    
  }
}
.resume{
  width: 450px;
  color: #fa6c02;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: -174px;
    
}

@media(max-width:700px){
  .target{
    max-width: 200px; 
  }
}
.target{
  width: 450px;
  color: gray;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: 25px;
}

@media(max-width:700px){
  .top{
    max-width: 370px;
  }
}
.top{
  width: 1000px;
}

@media(max-width:700px){
  .content2{
  background-color: #ebebeb;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 370px;
    
  
  }
}
.content2 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1000px;
  height: 6920px;
  background-color: #ebebeb;
  margin-top: 30px;
  
  
}

@media(max-width:700px){
  .balkis-mac{
  max-width: 200px;
  padding-top:70px;
  
  }
}
.balkis-mac{
  width:400px;
  display: flex; 
  justify-content: center;
  margin: 0 auto;
  margin-top: -150px;
}

@media(max-width:700px){
  .pages{
    max-width: 350px;
    
    
  }
}
.pages{
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  
}


/* ATM */

.content3 {
  width: 1000px;
  height: 4900px;
  background-color: #cdcccc;
  margin: 0 auto;
  margin-top: 30px;
}

.description-2{
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  color: #e78246;
  font-family: sans-serif;  
}


.atm-phone{
  width: 250px;
  margin-left: 370px;
  margin-top: -250px;  
}

.title-atm{
  font-size: 60px;
  font-weight: 700;
}

.date-atm{
  width: 70px;
  height:60px;
  padding-top:20px;
  color: gray;
  border-top: 8px solid #e78246 ;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  }

.place-atm{
  width: 70px;
  height:60px;
  padding-top: 20px;
  border-top: 8px solid #e78246 ;
  color: gray;
  font-weight: 600;
  margin-top: 50px;
  font-size: 18px;
  line-height: 22px;
}

.resume-atm{
  width: 450px;
  color: #e78246;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: -205px   
}

.target-atm{
  width: 450px;
  color: gray;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: 25px;
}

.pages-atm{
  width: 400px;
  margin-left:  65px;
  margin-top: 100px;
  background-color: white;
 }


/* tuesdays */

.content4 {
  width: 1000px;
  height: 11490px;
  background-color: #ebebeb;
  margin: 0 auto;
  margin-top: 30px;
}

.description-3{
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  color: lightpink;
  font-family: sans-serif;  
}

.title-tue{
  font-size: 60px;
  font-weight: 700;
}

.date-tue{
  width: 70px;
  height:60px;
  padding-top:20px;
  color: gray;
  border-top: 8px solid lightpink ;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  }

.place-tue{
  width: 70px;
  height:60px;
  padding-top: 20px;
  border-top: 8px solid lightpink ;
  color: gray;
  font-weight: 600;
  margin-top: 50px;
  font-size: 18px;
  line-height: 22px;
}

.resume-tue{
  width: 450px;
  color: lightpink;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: -205px   
}

.target-tue{
  width: 450px;
  color: gray;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: 25px;
}

.tuesdays-ipad{
  width: 300px;
  margin-left: 350px;
  margin-top: -210px; 
}

.pages-tue{
  width: 800px;
  margin-left: 100px;
  margin-top: 90px;
}


/* kfarhouna */

.description-4{
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  color: #77a452;
  font-family: sans-serif; 
}

.title-kfar{
  font-size: 60px;
  font-weight: 700;
}

.date-kfar{
  width: 70px;
  height:60px;
  padding-top:20px;
  color: gray;
  border-top: 8px solid #77a452 ;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  }

.place-kfar{
  width: 70px;
  height:60px;
  padding-top: 20px;
  border-top: 8px solid #77a452 ;
  color: gray;
  font-weight: 600;
  margin-top: 50px;
  font-size: 18px;
  line-height: 22px;
}

.resume-kfar{
  width: 450px;
  color: #77a452;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: -205px   
}

.target-kfar{
  width: 450px;
  color: gray;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: 25px;
}

.kfar-mac{
  width:750px;
  padding-left: 250px;
  margin-top: -150px;
}

.content5 {
  width: 1000px;
  height: 18500px;
  background-color: #cdcccc;
  margin: 0 auto;
  margin-top: 30px;
}

.pages-kfar{
  width: 900px;
  margin-left: 50px;
  margin-top: 80px;
}

/* AB Architects */

.ab-mac{
  width:750px;
  padding-left: 250px;
  margin-top: -150px;
}

.description-5{
   width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  color: #041240;
  font-family: sans-serif; 
}

.title-ab{
  font-size: 60px;
  font-weight: 700;
}

.date-ab{
  width: 70px;
  height:60px;
  padding-top:20px;
  color: gray;
  border-top: 8px solid #041240 ;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  }

.place-ab{
  width: 70px;
  height:60px;
  padding-top: 20px;
  border-top: 8px solid #041240 ;
  color: gray;
  font-weight: 600;
  margin-top: 50px;
  font-size: 18px;
  line-height: 22px;
}

.resume-ab{
  width: 450px;
  color: #041240;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: -190px   
}

.target-ab{
  width: 450px;
  color: gray;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: 25px;
}

.pages-ab{
  width: 900px;
  margin-left: 50px;
  margin-top: 80px;
  
}

.content6 {
  width: 1000px;
  height: 5250px;
  background-color: #ebebeb;
  margin: 0 auto;
  margin-top: 30px;
}

/* Dolce and Gabbana */

.content7 {
  width: 1000px;
  height: 5650px;
  background-color: #ebebeb;
  margin: 0 auto;
  margin-top: 50px;
}

.description-6{
   width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  color: #d6ab16;
  font-family: sans-serif; 
}

.title-dg{
  font-size: 60px;
  font-weight: 700;
}

.date-dg{
  width: 70px;
  height:60px;
  padding-top:20px;
  color: gray;
  border-top: 8px solid #d6ab16 ;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  }

.place-dg{
  width: 70px;
  height:60px;
  padding-top: 20px;
  border-top: 8px solid #d6ab16 ;
  color: gray;
  font-weight: 600;
  margin-top: 50px;
  font-size: 18px;
  line-height: 22px;
}

.resume-dg{
  width: 450px;
  color: #d6ab16;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: -170px   
}

.target-dg{
  width: 450px;
  color: gray;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: 25px;
}

.dg-mobile{
  width: 250px;
  margin-left: 370px;
  margin-top: -250px;  
}

.pages-dg{
  width: 400px;
  margin-left:  65px;
  margin-top: 100px;
  
}

/* save food */

.content8 {
  width: 1000px;
  height: 6480px;
  background-color: #cdcccc;
  margin: 0 auto;
  margin-top: 30px;
}
.sf-mobile{
  width: 250px;
  margin-left: 370px;
  margin-top: -250px;  
}
.description-7{
   width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  color: #249155;
  font-family: sans-serif; 
}

.title-sf{
  font-size: 60px;
  font-weight: 700;
}

.date-sf{
  width: 70px;
  height:60px;
  padding-top:20px;
  color: gray;
  border-top: 8px solid #249155 ;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  }

.place-sf{
  width: 70px;
  height:60px;
  padding-top: 20px;
  border-top: 8px solid #249155 ;
  color: gray;
  font-weight: 600;
  margin-top: 50px;
  font-size: 18px;
  line-height: 22px;
}

.resume-sf{
  width: 450px;
  color: #249155;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: -195px   
}

.target-sf{
  width: 450px;
  color: gray;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: 25px;
}

.pages-sf{
  width: 400px;
  margin-left:  65px;
  margin-top: 100px;
  background-color: white;
 }

/* Book */

.content9 {
  width: 1000px;
  height: 2270px;
  background-color: #ebebeb;
  margin: 0 auto;
  margin-top: 30px; 
}

.description-8{
   width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  color: #7ba56d;
  font-family: sans-serif; 
}

.title-book{
  font-size: 60px;
  font-weight: 700;
  width: 600px;
  
}

.date-book{
  width: 70px;
  height:60px;
  padding-top:20px;
  color: gray;
  border-top: 8px solid #7ba56d ;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  }

.place-book{
  width: 70px;
  height:60px;
  padding-top: 20px;
  border-top: 8px solid #7ba56d ;
  color: gray;
  font-weight: 600;
  margin-top: 70px;
  font-size: 18px;
  line-height: 22px;
}

.resume-book{
  width: 450px;
  color: #7ba56d;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: -220px   
}

.target-book{
  width: 450px;
  color: gray;
  font-size: 20px; 
  line-height: 28px;
  margin-left: 190px;
  margin-top: 25px;
}

.book-mockup{
  width:350px;
  margin-left: 350px;
  margin-top: -210px; 
}

.pages-book{
  width: 500px;
  margin-left: 250px;
  margin-top: 90px;
}

.pages-book1{
  width: 500px;
  margin-left: 250px;
  margin-top: 90px;

}


/*-- skills --*/
.frame-1{
  margin-top: 300px;
  margin-left: 150px;
 }

/*-- photography --*/

.photos{
  padding-top: 100px;
}


@media(max-width:700px){
  .photos img{
    max-width: 375px;
    
  }
}


.about{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  padding-top: 300px;
  
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  
}




